FRONTEND_URL=

# Server
PORT=5000
NODE_ENV=development

#token
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# db connection
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_CONNECTION_LIMIT=
DB_SSL_CA_PATH=

# Timezone used when filtering slot timings vs "current time"
# Example: Asia/Kolkata
APP_TIMEZONE=

ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_EXPIRY=